@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
:root {
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --darkBlue: hsl(198, 62%, 26%);

  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3,
h4,
.btn,
.about-link {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
}
.desktop-navbar {
  display: none;
}

.mobile-navbar-links {
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  width: 80%;
  margin: auto;
}

.hidden {
  display: none;
}

.navbar a {
  color: var(--darkGrayishBlue);
  font-size: 1rem;
}
.navbar .btn {
  background-color: var(--yellow);
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 1rem;
}

/* HAMBURGER BUTTON */
.hamburger-menu {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  margin: 4px 0;
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu.active .line:nth-of-type(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.active .line:nth-of-type(2) {
  opacity: 0;
}

.hamburger-menu.active .line:nth-of-type(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.btn.nav-link {
  color: black;
}
.btn-li {
  margin-top: 1rem;
}

/* MAIN SECTION */

.main {
  position: relative;
  height: 840px;
  overflow: hidden;
}

.main-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.main-absolute-content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.main-heading {
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Fraunces";
}
.arrow-down {
  display: inline-block;
  animation: jump-down 2s ease infinite;
}
@keyframes jump-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  12.5%,
  37.5% {
    transform: translateY(20px);
  }

  25% {
    transform: translateY(10px);
  }
}

/* ABOUT SECTION */
.about {
  display: grid;
  grid-template-columns: 1fr;
}

.about-content {
  text-align: center;
  padding: 50px 0;
  max-width: 550px;
  margin: auto;
}
.about-h2,
h2 {
  color: var(--veryDarkDesaturatedBlue);
  margin: auto;
  margin-bottom: 2rem;
  font-weight: 800;
  word-wrap: break-word;
  width: 15ch;
  font-size: 2rem;
}
.about-p,
p {
  color: var(--darkGrayishBlue);
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.about-link {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 1;
}
.about-link::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  transform: translate(-100%, 15px);
  z-index: -1;
  border-radius: 10px;
  opacity: 0.3;
}
.about-link:hover::after {
  opacity: 1;
}

.yellow::after {
  background: var(--yellow);
}
.red::after {
  background: var(--softRed);
}

/* SERVICES SECTION */
.service-container {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.service-absolute-content {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  text-align: center;
}
.service-h2,
.service-p {
  color: var(--darkBlue);
  padding-bottom: 2rem;
  padding: 0 2rem;
}

.service-p {
  font-size: 1.1rem;
}
.service-h2.cyan,
.service-p.cyan {
  color: var(--darkDesaturatedCyan);
}
.service-h2.blue,
.service-p.blue {
  color: var(--darkBlue);
}

/* TESTIMONIALS SECTION */
.testimonials {
  text-align: center;
  padding-top: 4rem;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
.testimonials-h2 {
  color: var(--grayishBlue);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 5px;
  width: 100%;
}

.profile-img {
  margin: 0 auto;
  border-radius: 50%;
  width: 25%;
  margin-bottom: 2rem;
}
.testimonials-p {
  font-size: 1.1rem;
  color: var(--veryDarkDesaturatedBlue);
  padding-bottom: 0;
  max-width: 350px;
  margin: 1rem auto;
  height: 200px;
}
.testimonials-span {
  display: inline-block;
  color: var(--grayishBlue);
  margin-top: 0.5rem;
}

/* PROJECTS SECTION */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4rem;
}

/* FOOTER */
.footer-container {
  background: var(--darkModerateCyan);
}
.footer-logo-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5rem;
}
.footer-logo {
  transform: scale(1.5);
}

.footer-nav {
  display: flex;
  padding: 3rem 1rem 5rem 1rem;
  justify-content: center;
  gap: 3rem;
}
.footer-nav-link {
  color: var(--darkDesaturatedCyan);
  font-size: 1.2rem;
  transition: 0.3s;
}
.footer-nav-link:hover {
  color: white;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 5rem 5rem 5rem;
}

@media (min-width: 550px) {
  .main {
    height: 700px;
  }
  .about-img-container {
    height: 450px;
    overflow: hidden;
  }
  .service-img-container {
    height: 700px;
  }
  .service-absolute-content {
    top: 70%;
  }
  .footer-nav {
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .desktop-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .navbar img {
    transform: scale(1.2);
    padding-left: 1rem;
  }
  .navbar {
    padding-right: 2rem;
  }
  .navbar a {
    font-size: 1.2rem;
    color: var(--white);
  }
  .navbar a.btn {
    color: black;
    background-color: var(--white);
  }
  .main {
    height: 940px;
  }
  .main-absolute-content {
    transform: translateY(70px);
  }
  .about {
    grid-template-columns: 1fr 1fr;
  }
  .about-img-container {
    height: auto;
  }
  .grid-pos-lg {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 50px;
  }
  .navbar-logo {
    transform: scale(1.3);
  }
  .main-absolute-content {
    transform: translateY(70px);
  }
  .footer-logo {
    transform: scale(1.8);
  }
  .testimonials-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .profile-img {
    width: 150px;
  }
  .testimonials-p {
    min-width: unset;
    max-width: unset;
    font-size: 1.2rem;
    margin: 40px auto;
  }
  .footer-nav-link {
    font-size: 1.5rem;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .main h1 {
    font-size: 4rem;
  }
}
